[submodule "2020-10-01 React and Firebase/KH-React-Firebase-Workshop"]
	path = 2020-10-01 React and Firebase/KH-React-Firebase-Workshop
	url = https://github.com/Dylans123/KH-React-Firebase-Workshop
[submodule "2020-09-17 Markov Chains/workshops"]
	path = 2020-09-17 Markov Chains/workshops
	url = https://github.com/Hevia/workshops
[submodule "2020-10-08 Azure/knighthacks-azure-functions-workshop"]
	path = 2020-10-08 Azure/knighthacks-azure-functions-workshop
	url = https://github.com/jcbang/knighthacks-azure-functions-workshop
[submodule "2020-11-11 HTML, CSS, and JS 1/html-css-js-template"]
	path = 2020-11-11 HTML, CSS, and JS 1/html-css-js-template
	url = https://github.com/rob-3/html-css-js-template.git
