[submodule "2020-10-01 React and Firebase/KH-React-Firebase-Workshop"]
	path = 2020-10-01 React and Firebase/KH-React-Firebase-Workshop
	url = https://github.com/Dylans123/KH-React-Firebase-Workshop
[submodule "2020-09-17 Markov Chains/workshops"]
	path = 2020-09-17 Markov Chains/workshops
	url = https://github.com/Hevia/workshops
[submodule "2020-10-08 Azure/knighthacks-azure-functions-workshop"]
	path = 2020-10-08 Azure/knighthacks-azure-functions-workshop
	url = https://github.com/jcbang/knighthacks-azure-functions-workshop
[submodule "2020-11-11 HTML, CSS, and JS 1/html-css-js-template"]
	path = 2020-11-11 HTML, CSS, and JS 1/html-css-js-template
	url = https://github.com/rob-3/html-css-js-template.git
[submodule "2020-11-17 JavaScript: Syntax and Paradigms/todo-list"]
	path = 2020-11-17 JavaScript: Syntax and Paradigms/todo-list
	url = https://github.com/rob-3/todo-list.git
[submodule "2021-01-21 Flutter/flutter-demo-for-knighthacks"]
	path = 2021-01-21 Flutter/flutter-demo-for-knighthacks
	url = https://github.com/APherwani/flutter-demo-for-knighthacks
[submodule "2021-02-11 MERN Stack/MERN-App"]
	path = 2021-02-11 MERN Stack/MERN-App
	url = https://github.com/Dylans123/MERN-App.git
[submodule "2021-02-16 CSS/knight-hacks-css-workshop"]
	path = 2021-02-16 CSS/knight-hacks-css-workshop
	url = https://github.com/chrisfeltner/knight-hacks-css-workshop
